
@model Visits.Models.preregistration
@{
	ViewBag.Title = "Confirmación de visita";
}
@section content{
	<style type="text/css">
		#qrcode {
			display: inline-block;
		}
	</style>
}


<h2 class="text-center" id="">@(ViewBag.Status == -4 ? "Visita confirmada" : "Confirmación de visita")</h2>
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		@if (ViewBag.Status == -1 || ViewBag.Status == -2)
		{
			<div class="alert alert-danger text-center" role="alert">
				<strong><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span></strong>
				El enlace no es válido
			</div>
		}
		@if (ViewBag.Status == -3)
		{
			<div class="alert alert-warning text-center" role="alert">
				<strong><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span></strong>
				La fecha de la visita ya ha pasado
			</div>
		}
		@if (ViewBag.Status == -4)
		{
			<div id="visitData">
				<div class="alert alert-success text-justify" role="alert">
					<strong><span class="glyphicon glyphicon-check" aria-hidden="true"></span></strong>
					La visita ya fue confirmada, use el botón de abajo para ver el código QR.
					<br />
					<strong><span class="glyphicon glyphicon-check" aria-hidden="true"></span></strong>
					Favor de presentarse antes de la hora programada para su visita.
					<br />
					<strong><span class="glyphicon glyphicon-check" aria-hidden="true"></span></strong>
					Importante acuda a su visita teniendo a la mano el QR.
				</div>
				<p>
					<strong>Clave de la empresa: </strong>@Model.company_key<br />
					<strong>Nombre: </strong>@Model.full_name<br />
					<strong>Correo electrónico: </strong>@Model.email<br />
					<strong>Fecha y hora de la visita: </strong>@Model.visit_date.ToString(ViewBag.Settings.email_date_time_format)<br />
					<strong>Motivo: </strong>@Model.motive
				</p>
			</div>
			<div class="text-center">
				<button type="button" class="btn btn-success" id="showQR">Mostrar QR</button>
			</div>
		}
		@if (ViewBag.Status == -5)
		{
			<div class="alert alert-warning text-center" role="alert">
				<strong><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span></strong>
				El enlace de confirmación ha dejado de estar vigente
			</div>
		}
		@if (ViewBag.Status == 0)
		{
			<div id="visitData">
				<div class="alert alert-info text-justify" role="alert">
					<strong><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></strong>
					Favor de presentarse antes de la hora programada para su visita.
					<br />
					<strong><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></strong>
					Importante acuda a su visita teniendo a la mano el QR.
				</div>
				<p>
					<strong>Clave de la empresa: </strong>@Model.company_key<br />
					<strong>Nombre: </strong>@Model.full_name<br />
					<strong>Correo electrónico: </strong>@Model.email<br />
					<strong>Fecha y hora de la visita: </strong>@Model.visit_date.ToString(ViewBag.Settings.email_date_time_format)<br />
					<strong>Motivo: </strong>@Model.motive
				</p>
			</div>
			<div class="text-center">
				<button type="button" class="btn btn-primary" id="showQR">Confirmar visita (QR)</button>
			</div>
		}
	</div>
</div>

<!-- Modals -->
<div class="modal fade" id="QRDialog" tabindex="-1" role="dialog" aria-labelledby="confirmDialogLabel" aria-hidden="true">
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="QRDialogLabel">Tome screenshot o imprima el QR</h4>
			</div>
			<div class="modal-body">
				<div class="text-center"><div id="qrcode"></div></div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-@(ViewBag.Status == 0 ? "primary" : "success")" id="qrPrintButton">Imprimir</button>
				<a href="#" download="SIASA_QR_@(ViewBag.Status == 0 || ViewBag.Status == -4 ? Model.company_key + "_" + ViewBag.Guid : "" ).png" class="btn btn-@(ViewBag.Status == 0 ? "primary" : "success")" role="button" id="qrDownloadLink">Descargar</a>
				<button type="button" class="btn btn-@(ViewBag.Status == 0 ? "primary" : "success")" data-dismiss="modal">Cerrar</button>
			</div>
		</div>
	</div>
</div>

@section scripts {
	@Scripts.Render("~/Scripts/qrcode.min.js")
<script type="text/javascript">

		@if(ViewBag.Status == 0 || ViewBag.Status == -4)
		{
			<text>
			const QRDialogID = 'QRDialog';
			const qrContainerID = 'qrcode';
			const guid = "@ViewBag.Guid";
			let status = @ViewBag.Status;
			let qrData = '';

			qrData += "{";
			qrData += "'name':'@Model.full_name',";
			qrData += "'email':'@Model.email',";
			qrData += "'reason':'@Model.motive',";
			qrData += "'date':'@Model.visit_date.ToString("yyyy'-'MM'-'dd'T'HH':'mm")',";
			qrData += "'companyKey':'@Model.company_key'";
			qrData += "}";

			new QRCode(document.getElementById(qrContainerID), qrData);

			$(function () {
				$('#' + QRDialogID).modal({ show: false });
				if (document.querySelector('#' + qrContainerID + ' img')) {
					document.getElementById('qrDownloadLink').href = document.getElementById(qrContainerID).getElementsByTagName('img')[0].src;
				}
			});

			document.getElementById('showQR').addEventListener('click', onShowQRClick);
			document.getElementById('qrPrintButton').addEventListener('click', onPrintQRClick);


			function onShowQRClick(event) {
				if (status == -4) {
					$('#' + QRDialogID).modal('show');
				}
				else {
					@if (ViewBag.Debug)
					{
						<text>
						$('#' + QRDialogID).modal('show');
						</text>
					} else
					{
						<text>
						confirmVisit();
						</text>
					}
				}
			}

			function confirmVisit() {
				fetch('@Url.Content("~")Confirmation/Confirm/' + guid, {
					method: "POST",
					headers: {
						'Accept': 'application/json',
						'Content-Type': 'application/x-www-form-urlencoded'
					}
				})
				.then(function (response) {
					return response.json();
				})
				.then(function (json) {
					$('#' + QRDialogID).modal('show');
					status = -4;
				})
				.catch(function (error) {
					location.reload();
				});
			}

			function onPrintQRClick() {
				var mywindow = window.open('', 'PRINT', 'fullscreen=yes');

				mywindow.document.write('<html>');
				mywindow.document.write('<head><title>' + document.title + '</title></head>');
				mywindow.document.write('<body style="font-family: system-ui;">');

				mywindow.document.write('<center><h1>' + document.getElementsByTagName('h2')[0].innerHTML + '</h1></center>');
				mywindow.document.write(document.getElementById('visitData').innerHTML);
				mywindow.document.write(document.getElementById(qrContainerID).innerHTML);
				mywindow.document.write('<center>' + document.getElementsByTagName('footer')[0].innerHTML + '</center>');

				mywindow.document.write('</body>');
				mywindow.document.write('<html>');

				mywindow.document.close(); // necessary for IE >= 10
				mywindow.focus(); // necessary for IE >= 10

				mywindow.onafterprint = function () {					// For Chrome
					mywindow.close();
				}

				mywindow.print();

				setTimeout(function () { mywindow.close(); }, 100);		// For EDGE
				
				return true;
			}
			</text>
		}
</script>
}