
@model Visits.Models.preregistration
@{
	ViewBag.Title = "TTL_SCR_CONFIRM";
}
@section content{
	<style type="text/css">
		#qrcode {
			display: inline-block;
		}
	</style>
}

<h2 class="text-center ucfirst" data-translate="true" data-label="@(ViewBag.Status == -4 ? "TTL_SCR_CONFIRMED" : "TTL_SCR_CONFIRM")" data-translate-inner>@(ViewBag.Status == -4 ? "TTL_SCR_CONFIRMED" : "TTL_SCR_CONFIRM")</h2>
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		@if (ViewBag.Status == -1 || ViewBag.Status == -2)
		{
			<div class="alert alert-danger text-center" role="alert">
				<strong><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span></strong>
				<span data-translate data-label="MSG_INVALID_LINK" data-translate-inner></span>
			</div>
		}
		@if (ViewBag.Status == -3)
		{
			<div class="alert alert-warning text-center" role="alert">
				<strong><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span></strong>
				<span data-translate data-label="MSG_VDATE_EXPIRED" data-translate-inner></span>
			</div>
		}
		@if (ViewBag.Status == -5)
		{
			<div class="alert alert-warning text-center" role="alert">
				<strong><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span></strong>
				<span data-translate data-label="MSG_VLINK_EXPIRED" data-translate-inner></span>
			</div>
		}
		<div id="visitData">
			@if (ViewBag.Status == -4)
			{
				<div class="alert alert-success text-justify" role="alert">
					<strong><span class="glyphicon glyphicon-check" aria-hidden="true"></span></strong>
					<span data-translate data-label="MSG_VCONFIRMED" data-translate-inner></span>
					<br />
					<strong><span class="glyphicon glyphicon-check" aria-hidden="true"></span></strong>
					<span data-translate data-label="MSG_VARRIVE_EARLY" data-translate-inner></span>
					<br />
					<strong><span class="glyphicon glyphicon-check" aria-hidden="true"></span></strong>
					<span data-translate data-label="MSG_QRONHAND" data-translate-inner></span>
				</div>
			}
			@if (ViewBag.Status == 0)
			{
				<div class="alert alert-info text-justify" role="alert">
					<strong><span class="glyphicon glyphicon-check" aria-hidden="true"></span></strong>
					<span data-translate data-label="MSG_VARRIVE_EARLY" data-translate-inner></span>
					<br />
					<strong><span class="glyphicon glyphicon-check" aria-hidden="true"></span></strong>
					<span data-translate data-label="MSG_QRONHAND" data-translate-inner></span>
				</div>
			}
			@if (ViewBag.Status == -4 || ViewBag.Status == 0)
			{
				<p>
					<strong><span data-translate data-label="LBL_COMP_KEY" data-translate-inner data-translate-ucfirst></span>: </strong>@Model.company_key<br />
					<strong><span data-translate data-label="LBL_FNAME" data-translate-inner data-translate-ucfirst></span>: </strong>@Model.full_name<br />
					<strong><span data-translate data-label="LBL_EMAIL" data-translate-inner data-translate-ucfirst></span>: </strong>@Model.email<br />
					<strong><span data-translate data-label="LBL_DATETIME" data-translate-inner data-translate-ucfirst></span>: </strong><span id="VisitDate" data-date="@Model.visit_date.ToString("yyyy-MM-dd HH:mm")"></span><br />
					<strong><span data-translate data-label="LBL_VMOTIVE" data-translate-inner data-translate-ucfirst></span>: </strong>@Model.motive
				</p>
			}
		</div>
		@if (ViewBag.Status == -4 || ViewBag.Status == 0)
		{
		<div class="text-center">   
			<button type="button" class="btn btn-@(ViewBag.Status == -4 ? "success" : "primary")" id="showQR"><span data-translate data-label="@(ViewBag.Status == -4 ? "LBL_SHOW_QR" : "LBL_CONFIRM_VISIT")" data-translate-inner></span></button>
		</div>
		}
	</div>
</div>

<!-- Modals -->
<div class="modal fade" id="QRDialog" tabindex="-1" role="dialog" aria-labelledby="confirmDialogLabel" aria-hidden="true">
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="QRDialogLabel" data-translate data-label="TTL_SCR_CONFIRMED" data-translate-inner></h4>
			</div>
			<div class="modal-body">
				<div class="alert alert-info text-justify" role="alert">
					<strong><span class="glyphicon glyphicon-check" aria-hidden="true"></span></strong>
					<span data-translate data-label="MSG_VARRIVE_EARLY" data-translate-inner></span>
					<br />
					<strong><span class="glyphicon glyphicon-check" aria-hidden="true"></span></strong>
					<span data-translate data-label="MSG_QRONHAND" data-translate-inner></span>
				</div>
				<div class="text-center"><div id="qrcode"><canvas id="canvasBordered"></canvas></div></div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-@(ViewBag.Status == 0 ? "primary" : "success") ucfirst" id="qrPrintButton" data-translate data-label="LBL_PRINT" data-translate-inner></button>
				<a href="#" download="SIASA_QR_@(ViewBag.Status == 0 || ViewBag.Status == -4 ? Model.company_key + "_" + ViewBag.Guid : "" ).png" class="btn btn-@(ViewBag.Status == 0 ? "primary" : "success") ucfirst" role="button" id="qrDownloadLink" data-translate data-label="LBL_DOWNLOAD" data-translate-inner></a>
				<button type="button" class="btn btn-@(ViewBag.Status == 0 ? "primary" : "success") ucfirst" data-dismiss="modal" data-translate data-label="LBL_OK" data-translate-inner></button>
			</div>
		</div>
	</div>
</div>

@section scripts {
	@Scripts.Render("~/Scripts/qrcode.min.js")
	@Scripts.Render("~/Scripts/moment.min.js")
	@Scripts.Render("~/locales/moment/es-mx.js")

	<script type="text/javascript">
	@if(ViewBag.Status == 0 || ViewBag.Status == -4)
	{
		<text>
		visits.show = (function () {
			const QRDialogID = 'QRDialog';
			const qrContainerID = 'qrcode';
			const guid = "@ViewBag.Guid";
			const visitDateID = 'VisitDate';
			const qrW = 256;
			const qrH = 256;
			const qrBorder = 15;
			const qrFill = 'white';
			let status = @ViewBag.Status;
			let qrData = '';
			let isQRDownloadSet = false;

			qrData += "{";
			qrData += "'name':'@Model.full_name',";
			qrData += "'email':'@Model.email',";
			qrData += "'reason':'@Model.motive',";
			qrData += "'date':'@Model.visit_date.ToString("yyyy'-'MM'-'dd'T'HH':'mm")',";
			qrData += "'companyKey':'@Model.company_key'";
			qrData += "}";

			var run = function () {
				new QRCode(document.getElementById(qrContainerID), { text: qrData, width: qrW, height: qrH });

				document.getElementById('showQR').addEventListener('click', onShowQRClick);
				document.getElementById('qrPrintButton').addEventListener('click', onPrintQRClick);

				visits.language.selector.addEventListener("languageChange", changeVisitDateFormat);
				changeVisitDateFormat();
			};

			var changeVisitDateFormat = function () {
				let visitMoment = moment(document.getElementById(visitDateID).getAttribute('data-date'));
				document.getElementById(visitDateID).innerHTML = visitMoment.format(visits.language.getCurrentDateTimeFormat());
			};

			var confirmVisit = function () {
				fetch('@Url.Content("~")Confirmation/Confirm/' + guid, {
					method: "POST",
					headers: {
						'Accept': 'application/json',
					}
				})
					.then(function (response) {
						return response.json();
					})
					.then(function (json) {
						$('#' + QRDialogID).modal('show');
						status = -4;
					})
					.catch(function (error) {
						alert('AJAX: Error when confirming');
						location.reload();
					});
			};

			var borderizeQR = function () {
				if (!isQRDownloadSet) {
					document.getElementById(qrContainerID).getElementsByTagName('img')[0].style = 'display: none;';

					var canvas = document.getElementById("canvasBordered");
					canvas.style = 'display: none;'
					canvas.setAttribute('width', qrW + (qrBorder * 2));
					canvas.setAttribute('height', qrH + (qrBorder * 2));
					var ctx = canvas.getContext("2d");
					ctx.fillStyle = qrFill;
					ctx.fillRect(0, 0, qrW + (qrBorder * 2), qrH + (qrBorder * 2));

					var image = new Image();
					image.onload = function () {
						ctx.drawImage(image, qrBorder, qrBorder);
						document.getElementById('qrDownloadLink').href = canvas.toDataURL("image/png");
						document.getElementById(qrContainerID).getElementsByTagName('img')[0].src = canvas.toDataURL("image/png")
					};
					image.src = document.getElementById(qrContainerID).getElementsByTagName('img')[0].src;

					document.getElementById(qrContainerID).getElementsByTagName('img')[0].style = 'display: block;';
					isQRDownloadSet = true;
				}
			};

			var onShowQRClick = function (event) {
				borderizeQR();

				if (status == -4) {
					$('#' + QRDialogID).modal('show');
				}
				else {
					@if (ViewBag.Debug)
					{
						<text>
						$('#' + QRDialogID).modal('show');
						</text>
					} else
					{
						<text>
						confirmVisit();
						</text>
					}
				}
			};

			var onPrintQRClick = function () {
				var mywindow = window.open('', 'PRINT', 'fullscreen=yes');

				mywindow.document.write('<html>');
				mywindow.document.write('<head><title>' + document.title + '</title></head>');
				mywindow.document.write('<body style="font-family: system-ui;">');

				mywindow.document.write('<center><h1>' + visits.helpers.ucfirst(document.getElementsByTagName('h2')[0].innerHTML) + '</h1></center>');
				mywindow.document.write(document.getElementById('visitData').innerHTML);
				mywindow.document.write(document.getElementById(qrContainerID).innerHTML);
				mywindow.document.write('<center>' + document.getElementsByTagName('footer')[0].innerHTML + '</center>');

				mywindow.document.write('</body>');
				mywindow.document.write('<html>');

				mywindow.document.close();								// necessary for IE >= 10
				mywindow.focus();										// necessary for IE >= 10

				mywindow.onafterprint = function () {					// For Chrome
					mywindow.close();
				}

				mywindow.print();

				setTimeout(function () { mywindow.close(); }, 100);		// For EDGE

				return true;
			};

			return {
				run: run,
			};
		})();

		$(function () {
			visits.components.waitFor('@ViewBag.Title');
			visits.show.run();
			visits.components.isReady('@ViewBag.Title');
		});
		</text>
	}
	</script>
}