<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title data-translate data-label="@ViewBag.Title" data-translate-inner data-translate-ucfirst></title>
	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/modernizr")
	@RenderSection("content", required: false)
	<link rel="icon" type="image/x-icon" href="@Url.Content("~")favicon.ico">
</head>
<body data-baseurl="@Url.Content("~")">
	<div class="overlay">
		<svg class="hourglass" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 120 206" preserveAspectRatio="none">
			<path class="middle" d="M120 0H0v206h120V0zM77.1 133.2C87.5 140.9 92 145 92 152.6V178H28v-25.4c0-7.6 4.5-11.7 14.9-19.4 6-4.5 13-9.6 17.1-17 4.1 7.4 11.1 12.6 17.1 17zM60 89.7c-4.1-7.3-11.1-12.5-17.1-17C32.5 65.1 28 61 28 53.4V28h64v25.4c0 7.6-4.5 11.7-14.9 19.4-6 4.4-13 9.6-17.1 16.9z"></path>
			<path class="outer" d="M93.7 95.3c10.5-7.7 26.3-19.4 26.3-41.9V0H0v53.4c0 22.5 15.8 34.2 26.3 41.9 3 2.2 7.9 5.8 9 7.7-1.1 1.9-6 5.5-9 7.7C15.8 118.4 0 130.1 0 152.6V206h120v-53.4c0-22.5-15.8-34.2-26.3-41.9-3-2.2-7.9-5.8-9-7.7 1.1-2 6-5.5 9-7.7zM70.6 103c0 18 35.4 21.8 35.4 49.6V192H14v-39.4c0-27.9 35.4-31.6 35.4-49.6S14 81.2 14 53.4V14h92v39.4C106 81.2 70.6 85 70.6 103z"></path>
		</svg>
	</div>
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<span class="navbar-brand ucfirst" data-translate data-label="LBL_VISITS" data-translate-inner></span>
			</div>
			@*--RPOOL: Disabling feature for Release version--*@
			@if (ViewBag.Debug == true)
			{
				<ul class="nav navbar-nav">
					<li>@Html.ActionLink("Lista", "List", "Preregistration")</li>
					<li>@Html.ActionLink("Nuevo", "AddFEBE", "Preregistration")</li>
				</ul>
			}
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown" id="languageSelector" data-default="@ViewBag.Settings.lang_locale_default" data-version="@ViewBag.Settings.lang_labels_version">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span>&nbsp;</span><span class="caret"></span></a>
					<ul class="dropdown-menu">
						@foreach (var item in ViewBag.Locales)
						{
							<li data-lang="@item.id" data-display="@System.Net.WebUtility.HtmlDecode(item.selector_id)&nbsp;" data-format="@item.date_time_format"><a href="#">@System.Net.WebUtility.HtmlDecode(item.selector_name)</a></li>
						}
					</ul>
				</li>
			</ul>
		</div>
	</nav>
	<div class="container body-content displaynone" id="body">
		@RenderBody()
	</div>
	<footer class="footer">
		<p class="text-center">
			<span data-translate data-label="LBL_FOOT_COPYRIGHT" data-translate-inner></span>
			<br />
			<span data-translate data-label="LBL_FOOT_CONTACT" data-translate-inner></span>
		</p>
	</footer>

	@RenderPage("_jsGlobals.cshtml")
	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")
	@Scripts.Render("~/Scripts/App/visits.js")
	@Scripts.Render("~/Scripts/App/language.js")
	@RenderSection("scripts", required: false)
</body>
</html>
