<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title - Visitas SIASA</title>
	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/modernizr")
	@RenderSection("content", required: false)
	<link rel="icon" type="image/x-icon" href="@Url.Content("~")favicon.ico">
</head>
<body>
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<span class="navbar-brand ucfirst" data-translate data-label="LBL_VISITS" data-translate-inner></span>
			</div>
			<!--RPOOL: Disabling feature for Release version-->
			@if (ViewBag.Debug == true)
			{
				<ul class="nav navbar-nav">
					<li>@Html.ActionLink("Lista", "List", "Preregistration")</li>
					<li>@Html.ActionLink("Nuevo", "AddFEBE", "Preregistration")</li>
				</ul>
			}
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown" id="languageSelector" data-default="@ViewBag.Settings.lang_locale_default" data-version="@ViewBag.Settings.lang_labels_version">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">&nbsp;<span class="caret"></span></a>
					<ul class="dropdown-menu">
						@foreach (var item in ViewBag.Locales)
						{
							<li data-lang="@item.id" data-display="@System.Net.WebUtility.HtmlDecode(item.selector_id)&nbsp;"><a href="#">@System.Net.WebUtility.HtmlDecode(item.selector_name)</a></li>
						}
					</ul>
				</li>
			</ul>
		</div>
	</nav>
	<div class="container body-content">
		@RenderBody()
	</div>
	<footer class="footer">
		<p class="text-center">
			Derechos Reservados @DateTime.Now.Year &copy; SIASA | Sistemas Integrales de Automatización S.A. de C.V.<br />
			marketing@siasa.com | SIASA Matriz: (999) 930.2575 | SIASA CDMX: (55) 5264.2272 | SIASA Latam: (305) 479.2303
		</p>
	</footer>

	@RenderPage("_jsGlobals.cshtml")
	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")
	@Scripts.Render("~/Scripts/translation.js")
	@RenderSection("scripts", required: false)
</body>
</html>
