@using BotDetect.Web.Mvc
@model Visits.Models.ViewModels.PreregistrationsViewModel
@{
	ViewBag.Title = "Solicitud de pre-registro";
}
@section content{
	@Styles.Render(@BotDetect.Web.CaptchaUrls.Absolute.LayoutStyleSheetUrl)
	@Styles.Render("/Content/bootstrap-datetimepicker.css")
}

<h2 class="text-center">Solicitud de pre-registro</h2>
<div class="row">
	<div class="col-md-6 col-md-offset-3">

		@using (Html.BeginForm("Add", "Preregistration", FormMethod.Post, new { role = "from", @class = "", id = "new-preregistration" }))
		{
			@Html.AntiForgeryToken()

			@Html.LabelFor(d => d.CompanyKey)
			@Html.TextBoxFor(d => d.CompanyKey, new { @class = "form-control", title = "Clave de la empresa" })
			@Html.ValidationMessage("CompanyKey", new { @class = "text-danger" })<br /><br />

			@Html.LabelFor(d => d.FullName)
			@Html.TextBoxFor(d => d.FullName, new { @class = "form-control", title = "Nombre completo del visitante" })
			@Html.ValidationMessage("FullName", new { @class = "text-danger" })<br /><br />

			@Html.LabelFor(d => d.Email)
			@Html.TextBoxFor(d => d.Email, new { @class = "form-control", title = "Correo electrónico del visitante" })
			@Html.ValidationMessage("Email", new { @class = "text-danger" })<br /><br />
			
			<!--Original funcional-->
			<div class="form-group">
				@Html.LabelFor(d => d.VisitDate)
				<div class='input-group date' id='visitDateTimeDTP'>
					@Html.TextBoxFor(d => d.VisitDate, new { @class = "form-control", title = "Fecha y hora de la visita" })
					<span class="input-group-addon">
						<span class="glyphicon glyphicon-calendar"></span>
					</span>
				</div>
				@Html.ValidationMessage("VisitDate", new { @class = "text-danger" })<br /><br />
			</div>
			
			@*
			<!--En proceso-->
			<div class="form-group">
				<label for="VisitDateMask">Fecha y Hora</label>
				<div class='input-group date' id='visitDateTimeDTP'>
					<input type='text' class="form-control" id="VisitDateMask"/>
					<span class="input-group-addon">
						<span class="glyphicon glyphicon-calendar"></span>
					</span>
				</div>
				@Html.ValidationMessage("VisitDate", new { @class = "text-danger" })<br /><br />
			</div>
			*@

			@*
			@Html.LabelFor(d => d.VisitDate)
			@Html.TextBoxFor(d => d.VisitDate, new { @class = "form-control", title = "Fecha y hora de la visita" })
			@Html.ValidationMessage("VisitDate", new { @class = "text-danger" })<br /><br />
			*@

			<!--
		<div class="form-group">
			<div class='input-group date' id='datetimepicker2'>
				<input type='text' class="form-control" />
				<span class="input-group-addon">
					<span class="glyphicon glyphicon-calendar"></span>
				</span>
			</div>
		</div>
		-->

			@Html.LabelFor(d => d.Motive)
			@Html.TextBoxFor(d => d.Motive, new { @class = "form-control", title = "Motivo de la visita" })
			@Html.ValidationMessage("Motive", new { @class = "text-danger" })<br /><br />

			MvcCaptcha SIASAVisitsPrereg = new MvcCaptcha("SIASAVisitsPrereg");
			SIASAVisitsPrereg.UserInputID = "CaptchaCode";
			SIASAVisitsPrereg.CodeLength = 4;
			SIASAVisitsPrereg.CodeStyle = BotDetect.CodeStyle.Numeric;
			SIASAVisitsPrereg.ImageStyle = BotDetect.ImageStyle.Chess;
			SIASAVisitsPrereg.Locale = "es-MX";
			//SIASAVisitsPrereg.CodeLength = BotDetect.CaptchaRandomization.GetRandomCodeLength(3, 5);
			<div class="text-center">
				<div style="display:inline-block;">
					@Html.Captcha(SIASAVisitsPrereg)
				</div>
			</div>
			@Html.TextBox("CaptchaCode", "", new { @class = "form-control", title = "Captura el código captcha" })<br />
			@Html.ValidationMessage("CaptchaCode", new { @class = "text-danger" })

			<div class="text-center">
				<input type="submit" class="btn btn-success" value="Enviar correo para iniciar el pre-registro" title="Enviar correo para iniciar el pre-registro" />
			</div>
		}
	</div>
</div>

@section scripts {
	@Scripts.Render("~/Scripts/moment.min.js")
	@Scripts.Render("~/locales/moment/es-mx.js")
	@Scripts.Render("~/Scripts/bootstrap-datetimepicker.min.js")

	<script type="text/javascript">
		// en-US
		//let dtFormat = 'MM-DD-YYYY hh:mm A';
		// es-MX
		let dtFormat = 'DD-MM-YYYY hh:mm A';
		//let visitDateID = 'VisitDateMask';
		let visitDateID = 'VisitDate';
			

		$(function () {
			let visitDT = document.getElementById(visitDateID).value;
			$('#visitDateTimeDTP').datetimepicker({
				format: dtFormat,
				//minDate: Date.now()
			});
			if (visitDT.length > 0 && moment(visitDT).isValid()) {
				let visitMoment = moment(visitDT);
				document.getElementById(visitDateID).value = visitMoment.format(dtFormat);
			}
		});

		document.getElementById("CaptchaCode").value = '';

		const form = document.getElementById("new-preregistration");
		form.addEventListener("submit", onFormSubmit);
		function onFormSubmit(event) {
			let visitDT = document.getElementById(visitDateID).value;

			if (visitDT.length > 0 && moment(visitDT, dtFormat).isValid()) {
				let visitMoment = moment(visitDT, dtFormat);
				document.getElementById(visitDateID).value = visitMoment.format();
			}
			//event.preventDefault();
		}
	</script>
}