@*
	||||| THIS VIEW IMPLEMENTS CAPTCHA IN COMBINING CAPCHA RENDERING FROM BE AND VALIDATION VIA AJAX IN FE AND PRE-FILTER IN BE |||||
*@
@using BotDetect.Web.Mvc
@model Visits.Models.ViewModels.PreregistrationsViewModel
@{
	ViewBag.Title = "TTL_SCR_REQPRE";
}
@section content{
	@Styles.Render(@BotDetect.Web.CaptchaUrls.Absolute.LayoutStyleSheetUrl)
	@Styles.Render("~/Content/bootstrap-datetimepicker.css")

	<style type="text/css">
		#loader {
			visibility: hidden;
			height: 4.5rem;
			padding-top: 1rem;
			padding-bottom: 1rem;
		}

		.spin {
			-webkit-transform-origin: 50% 50%;
			transform-origin: 50% 50%;
			-ms-transform-origin: 50% 50%; /* IE 9 */
			-webkit-animation: spin .8s infinite linear;
			-moz-animation: spin .8s infinite linear;
			-o-animation: spin .8s infinite linear;
			animation: spin .8s infinite linear;
		}

		@@-moz-keyframes spin {from {-moz-transform: rotate(0deg);} to {-moz-transform: rotate(360deg);}}
		@@-webkit-keyframes spin {from {-webkit-transform: rotate(0deg);} to {-webkit-transform: rotate(360deg);}}
		@@keyframes spin {from {transform: rotate(0deg);} to {transform: rotate(360deg);}}

	</style>
}

<h2 class="text-center ucfirst" data-translate="true" data-label="TTL_SCR_REQPRE"  data-translate-inner></h2>
<div class="row">
	<div class="col-md-6 col-md-offset-3">

		@using (Html.BeginForm("AddFEBE", "Preregistration", FormMethod.Post, new { role = "from", @class = "", id = "preregistration" }))
		{
			@Html.AntiForgeryToken()

			@Html.LabelFor(d => d.CompanyKey, new {@class = "ucfirst",  data_translate = "", data_label = "LBL_COMP_KEY", data_translate_inner = "" })
			@Html.TextBoxFor(d => d.CompanyKey, new { @class = "form-control", title = "", data_required = "1", data_translate = "", data_label = "LBL_COMP_KEY", data_translate_title = "", data_translate_ucfirst = "" })
			@Html.ValidationMessage("CompanyKey", new { @class = "text-danger" })<br /><br />

			@Html.LabelFor(d => d.FullName, new { @class = "ucfirst", data_translate = "", data_label = "LBL_FNAME", data_translate_inner = "" })
			@Html.TextBoxFor(d => d.FullName, new { @class = "form-control", title = "", data_required = "1", data_translate = "", data_label = "LBL_FNAME", data_translate_title = "", data_translate_ucfirst = "" })
			@Html.ValidationMessage("FullName", new { @class = "text-danger" })<br /><br />

			@Html.LabelFor(d => d.Email, new { @class = "ucfirst", data_translate = "", data_label = "LBL_EMAIL", data_translate_inner = "" })
			@Html.TextBoxFor(d => d.Email, new { @class = "form-control", title = "", data_required = "1", data_translate = "", data_label = "LBL_EMAIL", data_translate_title = "", data_translate_ucfirst = "" })
			@Html.ValidationMessage("Email", new { @class = "text-danger" })<br /><br />

			<div class="form-group">
				<label for="VisitDateMask" class="ucfirst" data-translate data-label="LBL_DATETIME" data-translate-inner></label>
				<div class='input-group date' id='visitDTP'>
					<input type='text' class="form-control" id="VisitDateMask" name="VisitDateMask" data-required="1" data-translate data-label="LBL_DATETIME" data-translate-title data-translate-ucfirst/>
					<span class="input-group-addon">
						<span class="glyphicon glyphicon-calendar"></span>
					</span>
				</div>
				@Html.ValidationMessage("VisitDate", new { @class = "text-danger" })<br /><br />
				@if (Model == null)
				{
					@Html.Hidden("VisitDate", "")
				}
				else
				{
					@Html.Hidden("VisitDate", Model.VisitDate)
				}
			</div>

			@Html.LabelFor(d => d.Motive, new { @class = "ucfirst", data_translate = "", data_label = "LBL_VMOTIVE", data_translate_inner = "" })
			@Html.TextBoxFor(d => d.Motive, new { @class = "form-control", title = "", data_translate = "", data_label = "LBL_VMOTIVE", data_translate_title = "", data_translate_ucfirst = "" })
			@Html.ValidationMessage("Motive", new { @class = "text-danger" })<br /><br />

			MvcCaptcha SIASAVisitsPrereg = new MvcCaptcha("Captcha");
			SIASAVisitsPrereg.UserInputID = "CaptchaCode";
			SIASAVisitsPrereg.CodeLength = 4;
			SIASAVisitsPrereg.CodeStyle = BotDetect.CodeStyle.Numeric;
			SIASAVisitsPrereg.Locale = "es-MX";
			SIASAVisitsPrereg.SoundEnabled = false;
			<div class="text-center">
				<div style="display:inline-block;">
					@Html.Captcha(SIASAVisitsPrereg)
				</div>
			</div>
			@Html.TextBox("CaptchaCode", "", new { @class = "form-control", title = "", data_required = "1", data_translate = "", data_label = "MSG_CAPTURECAPTCHA", data_translate_title = "", data_translate_ucfirst = "" })
			@Html.ValidationMessage("CaptchaCode", new { @class = "text-danger" })
			<br /><br />
			<div class="text-center">
				<input type="submit" class="btn btn-success" value="" title="" data-translate data-label="LBL_SEND_EMAIL_PREREQ" data-translate-title data-translate-value data-translate-ucfirst/>
				<div id="loader" class="text-primary"><span class="glyphicon glyphicon-repeat spin" aria-hidden="true"></span> <span data-translate data-label="MSG_PROC_PLEASE_WAIT" data-translate-inner></span>.</div>
			</div>

		}
	</div>
</div>

<!-- Modals -->
<div class="modal fade" id="confirmDialog" tabindex="-1" role="dialog" aria-labelledby="confirmDialogLabel" aria-hidden="true">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title ucfirst" id="confirmDialogLabel" data-translate data-label="LBL_CONFIRMATION" data-translate-inner></h4>
			</div>
			<div class="modal-body" data-translate data-label="QST_ISALLDATAOK" data-translate-inner></div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default ucfirst" data-dismiss="modal" data-translate data-label="LBL_NO" data-translate-inner></button>
				<button type="button" class="btn btn-primary ucfirst" id="confirmButton" data-translate data-label="LBL_YES" data-translate-inner></button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="successDialog" tabindex="-1" role="dialog" aria-labelledby="successDialogLabel" aria-hidden="true">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title ucfirst" id="successDialogLabel" data-translate data-label="LBL_SUCCESS" data-translate-inner></h4>
			</div>
			<div class="modal-body" data-translate data-label="MSG_REQ_PREREG_OK" data-translate-inner></div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary ucfirst" data-dismiss="modal" data-translate data-label="LBL_OK" data-translate-inner></button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="emailDialog" tabindex="-1" role="dialog" aria-labelledby="emailDialogLabel" aria-hidden="true">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title ucfirst" id="emailDialogLabel" data-translate data-label="LBL_ERROR" data-translate-inner></h4>
			</div>
			<div class="modal-body" data-translate data-label="MSG_REQ_PREREG_ERR" data-translate-inner></div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary ucfirst" data-dismiss="modal" data-translate data-label="LBL_OK" data-translate-inner></button>
			</div>
		</div>
	</div>
</div>

@section scripts {

@Scripts.Render("~/Scripts/moment.min.js")
@Scripts.Render("~/locales/moment/es-mx.js")
@Scripts.Render("~/Scripts/bootstrap-datetimepicker.min.js")

<script type="text/javascript">
visits.components.waitFor('@ViewBag.Title');

/* VISIT DTP */
const preregistrationFormID = 'preregistration';
const visitDateMaskID = 'VisitDateMask';
const visitDateID = 'VisitDate';
const confirmDialogID = '#confirmDialog';
const successDialogID = '#successDialog';
const emailDialogID = '#emailDialog';
let isAllRequiredFilled = false;

$(function () {
	$('#visitDTP').datetimepicker({
		format: visits.language.getCurrentFormat(),
		minDate: Date.now()
	});

	let visitDT = document.getElementById(visitDateID).value;
	if (visitDT.length > 0 && moment(visitDT).isValid()) {
		let visitMoment = moment(visitDT);
		document.getElementById(visitDateMaskID).value = visitMoment.format(visits.language.getCurrentFormat());
	}

	$(confirmDialogID).modal({ show: false });

	document.querySelector('a[title ~= "BotDetect"]').remove();

	visits.language.selector.addEventListener("languageChange", function (event) {
		$('#visitDTP').data("DateTimePicker").options({ format: event.detail.format });
	});
});

document.getElementById(preregistrationFormID).addEventListener("submit", onFormSubmit);
document.getElementById("confirmButton").addEventListener("click", onConfirmButtonClick);

function onFormSubmit(event) {
	isAllRequiredFilled = true;
	document.querySelectorAll('[data-valmsg-for]').forEach(function (item) { item.innerText = '' });
	for (const input of document.getElementById(preregistrationFormID).querySelectorAll('input[type="text"][data-required = "1"]')) {
		if (input.value.trim().length == 0) {
			isAllRequiredFilled = false;
			break;
		}
	}

	if (isAllRequiredFilled) {
		$(confirmDialogID).modal('show');
	} else {
		isDataConfirmed = true;
		processPreregistration();
	}
	event.preventDefault();
}

function onConfirmButtonClick(event) {
	$(confirmDialogID).modal('hide');
	processPreregistration();
}

function processPreregistration() {
	let visitDT = document.getElementById(visitDateMaskID).value;

	if (visitDT.length > 0 && moment(visitDT, visits.language.getCurrentFormat()).isValid()) {
		let visitMoment = moment(visitDT, visits.language.getCurrentFormat());
		document.getElementById(visitDateID).value = visitMoment.format();
	}

	let data = new URLSearchParams(new FormData(document.getElementById(preregistrationFormID))).toString();

	document.getElementById('loader').style.visibility = 'visible';
	document.querySelector('input[type="submit"]').setAttribute('disabled', 'disabled');
	document.getElementById(preregistrationFormID).querySelectorAll('input[type="text"]').forEach(function (item) { item.setAttribute('disabled', 'disabled'); });


	fetch('@Url.Content("~")Preregistration/AddFEBE', {
		method: "POST",
		headers: {
			'Accept': 'application/json',
			'Content-Type': 'application/x-www-form-urlencoded'
		},
		body: data
	})
		.then(function (response) {
			return response.json();
		})
		.then(function (json) {

			if (json.success == 1) {
				$(successDialogID).modal('show');
				document.getElementById(preregistrationFormID).querySelectorAll('input[type="text"]').forEach(function (item) { item.value = ''; });
			} else if (json.success == 3) {
				$(emailDialogID).modal('show');
			}
			Object.entries(json.error).forEach((entry) => {
				document.querySelector('[data-valmsg-for="' + entry[0] + '"]').setAttribute('data-translate', '');
				document.querySelector('[data-valmsg-for="' + entry[0] + '"]').setAttribute('data-label', entry[1]);
				document.querySelector('[data-valmsg-for="' + entry[0] + '"]').setAttribute('data-translate-inner', '');
				document.querySelector('[data-valmsg-for="' + entry[0] + '"]').setAttribute('data-translate-ucfirst', '');
				document.querySelector('[data-valmsg-for="' + entry[0] + '"]').innerText = visits.language.getTranslation(entry[1], 'ucfirst');

			});

			document.getElementById("Captcha_ReloadLink").click();
			document.getElementById('loader').style.visibility = 'hidden';
			document.querySelector('input[type="submit"]').removeAttribute('disabled');
			document.getElementById(preregistrationFormID).querySelectorAll('input[type="text"]').forEach(function (item) { item.removeAttribute('disabled'); });
		})
		.catch(function (error) {
			alert('AJAX: Error while sending preregistration');
			location.reload();
		});
}

visits.components.isReady('@ViewBag.Title');
</script>
}