@model List<Visits.Models.TableViewModels.PreregistrationsTableViewModel>
@{
	ViewBag.Title = "Lista";
}

<div class="row">
	<h2 class="text-center">Lista de pre-registros</h2>
	<div class="col-lg-12 @(Model.Count == 0 ? "text-center" : "text-right") ">
			<a title="Nuevo pre-registro" class="btn btn-primary" href="@Url.Content("~/Preregistration")">Nuevo</a>
		<br /><br />
	</div>
	@if (Model.Count > 0)
	{
		<div class="col-lg-12">
			<table class="table table-bordered">
				<tr>
					<th>GUID</th>
					<th>Clave de empresa</th>
					<th>Nombre completo</th>
					<th>Correo</th>
					<th>Fecha de visita</th>
					<th>Motivo</th>
					<th>Confirmación</th>
				</tr>
				@foreach (var item in Model)
				{
					<tr>
						<td>@System.Text.Encoding.ASCII.GetString(item.GUID)</td>
						<td>@item.CompanyKey</td>
						<td>@item.FullName</td>
						<td>@item.Email</td>
						<td>@item.VisitDate</td>
						<td>@item.Motive</td>
						<td><a href="/Confirmation/Show/@System.Text.Encoding.ASCII.GetString(item.GUID)">IR</a></td>
					</tr>
				}
			</table>
		</div>
	}
	else
	{
		<h3 class="text-center">Aún no hay solicitudes de preregistro.</h3>
	}
</div>